body {
    background-color: black;
}

header, main {
    max-width: 1200px;
    margin: auto;
    background-color: black;
}

footer {
    max-width: 1200px;
    margin: auto;
    background-color: black;
    text-align: center;
}

img {
    max-width: 280px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    padding: 20px;
    padding-bottom: 0px;
}

h2 {
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
}

p {
    color: lightgray;
}

video {
    width: 560px; 
    height: 315px;
}